.banner__imagen{
    background: url('../../img/banner.png') no-repeat center / cover;
<<<<<<< HEAD
    width: 100%;
}

@media screen and (min-width:0){
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}


@media screen and (min-width:768px){
    .banner__imagen{
        height: calc(100vh - 72px);
    }
=======
    height:calc(100vh - 72px);
>>>>>>> a09c5205bf75bff0106f16731067c273a4c73f9e
}